body {
    background-color:#012538;
    color:white;
}

#nav {
    background-color:#343a40;
}

#foot {
    background-color:#343a40;
}

.navbar-light .navbar-brand {
    color: rgba(255,255,255,.9);
}

