{% extends 'single_pages/base.html' %}
{% load static %}

    {% block c_title %}
        <title>Dialog-ing</title>
    {% endblock %}

    {% block tw_script %}
    <!--font-애니메이션-->
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

        .waviy {
          padding-top: 50px;
          position: relative;
          -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
          font-size: 60px;
        }

        .waviy span {
          position: relative;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        animation: waviy 4s infinite;
        animation-delay: calc(.1s * var(--i));
        }

    @keyframes waviy {
      0%,40%,100% {
        transform: translateY(0)
      }
      20% {
        transform: translateY(-20px)
      }
    }
    </style>

    <link rel="stylesheet" href="{% static 'single_pages/css/main_page.css' %}" media="screen">
    {% endblock %}

    {% block main_area %}
        <div id="back_img" style=" margin-top:100px; text-align:center; height: 903px; color: ivory;">
            <div class="waviy">
              <span style="--i:1">오</span>
              <span style="--i:2">늘</span>
              <span style="--i:3">의</span>
              <span style="--i:4">하</span>
              <span style="--i:5">루</span>
              <span style="--i:6">는</span>
              <span style="--i:7">어</span>
              <span style="--i:8">떠</span>
              <span style="--i:9">셨</span>
              <span style="--i:10">나</span>
              <span style="--i:11">요</span>
              <span style="--i:12">?</span>
            </div>

            <div class="diary">
                <img style="width: 800px; height:650px;" src="{% static 'single_pages/images/일기.png' %}" />
            </div>

            <div style=" text-align:center;">
                <a type="button" href="/accounts/login" class="btn btn-dark" style="height: 60px; width: 300px; font-size:30px;">로 그 인</a>&nbsp;
                <a type="button" href="/accounts/signup" class="btn btn-dark" style="height: 60px; width: 300px; font-size:30px;">회 원 가 입</a>
            </div>
        </div>

            <div class="card ml-5 my-5" style="margin:70px; width: 1200px; text-align:left; box-shadow:5px 5px 10px grey;">
              <div class="card-body">
                <div class="card-title" style="font-size:40px;">서비스 소개</div>
                <p class="card-text" style="font-size:20px;">
                    이 서비스는 간단하게 말하면 ‘고민상담 챗봇을 통한 일기작성’이다.<br/>
                     회원가입 후, 자신의 계정으로 로그인을 하면 마이페이지와 고민상담 및 일기 쓰기(챗봇) 서비스를 사용할 수 있다.<br/>
                    일기가 작성완료되면 해당 일기는 데이터베이스에 저장되어 일기 목록 페이지에서 지금까지 작성했던 일기를 모아볼 수 있다.<br/>
                    일기 상세 페이지에서는 추가할 내용이나 수정할 부분이 있을 것을 고려하여 일기 수정이 가능하다.<br/>
                     또한, 최근 유행하고 있는 ‘다이어리 꾸미기’ 기능을 추가하여 사용자들이 자신의 개성을 드러내고 SNS에 공유하거나 소장이 가능하도록 인쇄할 수 있다.<br/>
                    해당 서비스는 사람들의 우울감 극복, 힐링에 중점을 둔 서비스이기에 힐링 글귀를 랜덤으로 뽑을 수 있는 포춘쿠키 서비스 또한 존재한다.<br/>
                </p>
              </div>
            </div>

                <div class="card my-5 ml-5 float-right text-right"
                     style="margin-right:70px; width: 1200px; box-shadow:5px 5px 10px grey;">
                  <div class="card-body">
                    <div class="card-title" style="font-size:40px;">개발팀 이야기</div>
                    <p class="card-text" style="font-size:20px;">
                        우울증 증상 중에는 무기력함과 의욕 상실이 있습니다.<br/>
                      무기력은 단지 아무것도 하지 않는 것이 아니라, 몸은 아무것도 못하는데 마음은 쉼이 없는 것입니다.<br/>
                      이런 증상을 가진 사람들은 이를 극복하는 방법으로 스스로에게 관심을 가져야 한다고 생각했습니다.<br/>
                      해당 방법 중 하나로는 일기 작성이 있습니다. 매일 하루하루를 기록하다보면 자신에 대해 더 잘 파악할 수 있죠.<br/>
                      그러나 무기력을 호소하는 사람들이 매일 일기를 꾸준히 작성하는 것은 쉽지 않습니다.<br/>
                      우리는 이러한 번거로움을 해소하며 일기를 작성할 수 있는 서비스로 챗봇 기능을 떠올렸습니다.<br/>
                      챗봇 기능을 사용하면 자연스러운 대화를 할 수 있기 때문에 일기를 써야한다는 부담을 덜어줄 수 있습니다.<br/>
                      또한, 누군가와 대화한다는 느낌을 줘서 심리적 안정감을 가져다 줄 수 있습니다.<br/>
                      저희는 이를 통해 사용자들이 그날의 하루를 뒤돌아보고, 스스로를 더 잘 파악할 수 있는 기회를 마련해드리기 위해 기획하게 되었습니다.<br/>
                    </p>
                  </div>
                </div>

          <div class="container">
              <div class="row py-5 my-5">
                  <div style="font-size: 50px; margin:auto;">캐릭터 소개</div>
              </div>
              <div class="row my-5">
                  <div class="col-lg-6" style="text-align:left;">
                      <img src="{% static 'single_pages/images/수달색.jpg' %}" alt="수달"
                           style="width: 300px; height: 300px; box-shadow:5px 5px 10px grey;">
                  </div>
                  <div class="col-lg-6" style="text-align:right;">
                      <img src="{% static 'single_pages/images/수달인말풍선.png' %}" alt="수달말풍선"
                           style="width:500px; height: 300px; filter: drop-shadow(5px 5px 10px grey);">
                  </div>
              </div>

              <div class="row my-5">
                  <div class="col-lg-6" style="text-align:left;">
                      <img src="{% static 'single_pages/images/오숭이말풍선.png' %}" alt="원숭말풍선"
                           style="width:500px; height: 300px; filter: drop-shadow(5px 5px 10px grey);">
                  </div>
                  <div class="col-lg-6" style="text-align:right;">
                      <img src="{% static 'single_pages/images/원숭색.jpg' %}" alt="원숭이"
                           style="width: 300px; height: 300px; box-shadow:5px 5px 10px grey;">
                  </div>
              </div>

              <div class="row my-5">
                  <div class="col-lg-6" style="text-align:left;">
                      <img src="{% static 'single_pages/images/사자색.jpg' %}" alt="사자"
                           style="width: 300px; height: 300px; box-shadow:5px 5px 10px grey;">
                  </div>
                  <div class="col-lg-6" style="text-align:right;">
                      <img src="{% static 'single_pages/images/어흥말풍선.png' %}" alt="어흥말풍선"
                           style="width:500px; height: 300px; filter: drop-shadow(5px 5px 10px grey);">
                  </div>
              </div>

              <div class="row my-5">
                  <div class="col-lg-6" style="text-align:left;">
                      <img src="{% static 'single_pages/images/구리말풍선.png' %}" alt="너굴말풍선"
                           style="width:500px; height: 300px; filter: drop-shadow(5px 5px 10px grey);">
                  </div>
                  <div class="col-lg-6" style="text-align:right;">
                      <img src="{% static 'single_pages/images/너굴색.jpg' %}" alt="너구리"
                           style="width: 300px; height: 300px; box-shadow:5px 5px 10px grey;">
                  </div>
              </div>
          </div>

        <div style="background-color:#fed999; bottom:0; padding-top: 100px; padding-bottom: 100px;">
            {% include 'single_pages/footer.html' %}
        </div>

    {% endblock %}



