<div id="share-box">
    <a onclick=javascript:tw() target="_blank" alt="Share on Twitter" title="트위터에 공유하기">
        <span class="tw"></span>
    </a>
    <a onclick=javascript:fb() target="_blank" alt="Share on Facebook" title="페이스북에 공유하기">
        <span class="fb"></span>
    </a>
    <a onclick=javascript:nv() target="_blank" alt="Share on Naver" title="네이버에 공유하기">
        <span class="nv"></span>
    </a>
    <a onclick=javascript:band() target="_blank" alt="Share on Naver Band" title="네이버 밴드에 공유하기">
        <span class="band"></span>
    </a>
</div>
