<!--하루에 한 개만 누르기 기능-->
 {% load static %}
    <script type="text/javascript">

        //쿠키설정
        function setCookie(name, value, expiredays){
            var today = new Date();
            today.setDate(today.getDate() + expiredays); //현재 시간에 하루를 더함.
            document.cookie = name + '=' + escape(value) + '; expires=' + today.toGMTString();
        }

        //쿠키 불러오기
        function getCookie(name) {
            var cookie = document.cookie;

            if (document.cookie != "") {
                var cookie_array = cookie.split("; ");
                for ( var index in cookie_array) {
                    var cookie_name = cookie_array[index].split("=");
                    if (cookie_name[0] == "mycookie") {
                        return cookie_name[1];
                    }
                }
            }
            return;
        }

        //각 음식들을 눌렀을 경우 나오도록 설정
        const meat = () => {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/사자.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

            setCookie("mycookie",'popupEnd',1);
        }

        const fish = () => {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/수달.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

            setCookie("mycookie",'popupEnd2',1);
        }

        const apple = () => {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/너구리.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

            setCookie("mycookie",'popupEnd3',1);
        }

        const banana = () => {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/원숭이.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

            setCookie("mycookie",'popupEnd4',1);
        }

        const clam = () => {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/수달.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

            setCookie("mycookie",'popupEnd5',1);
        }

        var checkCookie = getCookie("mycookie");

        //var title = "{{comment_001.title}}";

        // 쿠키가 생성되고 계속 장면이 고정되서 나오도록 설정
        if (checkCookie == 'popupEnd') {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/사자.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

        } else if (checkCookie == 'popupEnd2') {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/수달.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

        } else if (checkCookie == 'popupEnd3') {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/너구리.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

        } else if (checkCookie == 'popupEnd4') {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/원숭이.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

        } else if (checkCookie == 'popupEnd5') {
            document.getElementById("today_detail").style.display="block";
            document.getElementById("today_list").style.display="none";
            document.getElementById("animal").src = "{% static 'single_pages/images/수달.png' %}";
            document.getElementById("footer").className = 'fixed-bottom';

        } else {
            document.getElementById("today_detail").style.display="none";
            document.getElementById("today_list").style.display="block";
            document.getElementById("footer").classList.remove = 'fixed-bottom';
        }

    </script>