{% extends 'single_pages/base.html' %}
{% load static %}

{% block c_title %}
    <title>
        {% if user.is_authenticated %}
            {{user.username}}님의 페이지
        {% else %}
            마이페이지
        {% endif %}
    </title>
{% endblock %}

{% block main_area %}

    {% if user.is_authenticated %}
    <h1>{{user.username}}</h1>

    <div class="fixed-bottom">
        {% include 'single_pages/footer.html' %}
    </div>
    {% else %}
    <h1>로그인이 필요한 서비스 입니다.</h1>

    <div class="fixed-bottom">
        {% include 'single_pages/footer.html' %}
    </div>
    {% endif %}

{% endblock %}