{% extends 'single_pages/base.html' %}
{% load static %}

{% block c_title %}
    <title>로그인</title>
{% endblock %}

{% block main_area %}
<div class="wrapper">
    <div style="text-align: center; background-color: #fed999; border: 2px solid #753e39;
        border-radius: 5px; padding: 30px 30px 70px; margin: 20px 35%">
        <h1 style="color: #753e39">로그인</h1> <br>
        <form method="POST" style="color: #753e39">{% csrf_token %}
            아이디 &nbsp
            <input name="username" type="text"
                   style="background-color: #753e39; color: white; border: none;">
            <br>
            <br>
            비밀번호
            <input name="password" type="password"
                   style="background-color: #753e39; color: white; border: none;">
            <br><br>
            <input type="submit" class="btn btn-light" value="로그인"
                style="color: #753e39; border: 2px solid #753e39;">
        </form>
    </div>
</div>

    <div class="fixed-bottom">
        {% include 'single_pages/footer.html' %}
    </div>

{% endblock %}