{% extends 'single_pages/base.html' %}
{% load static %}

{% block c_title %}
    <title>로그인</title>
{% endblock %}

{% block main_area %}
<div class="wrapper">
    <div style="text-align: center;">
        <h1>로그인</h1>
        <form method="POST">{% csrf_token %}
            ID
            <input name="username" type="text">
            <br>
            <br>
            PW
            <input name="password" type="password">
            <br><br>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
    </div>
</div>

    <div class="fixed-bottom">
        {% include 'single_pages/footer.html' %}
    </div>

{% endblock %}