{% extends 'single_pages/base.html' %}
{% load static %}

<!--한글은 따로 해야 한다..-->

{% block c_title %}
    <title>너구리와 대화</title>

    <!--css-->
    <link rel="stylesheet" href="{% static 'chatbot/css/main.css' %}" media="screen">
{% endblock %}

{% block tw_script %}
    <script>


    </script>
{% endblock %}

{% block main_area %}
    <section id="start">
        <div class="sec" style="display:block; width: 1000px; height: 400px; margin: auto; margin-top: 100px; white-space:nowrap;">
            <div class="card" style="width: 270px; display:inline-block; margin-right:40px;">
                <img src="{% static 'single_pages/images/수달.png' %}" class="card-img-top" style="background-color:#FFC5C4" alt="수달">
                <div class="card-body" style="background-color:#FFC5C4; text-align:center">
                    <a onclick="javascript:start_otter()" type="button" class="btn btn-lg btn-light">
                        수달이랑 대화하기</a>
                </div>
            </div>

            <div class="card" style="width: 270px; display:inline-block; margin-right:40px;">
                <img src="{% static 'single_pages/images/사자.png' %}" class="card-img-top" style="background-color:#F7B68E" alt="수달">
                <div class="card-body" style="background-color:#F7B68E; text-align:center">
                    <a onclick="javascript:start_lion()" type="button" class="btn btn-lg btn-light">
                        사자랑 대화하기</a>
                </div>
            </div>

            <div class="card" style="width: 270px; display:inline-block; margin-right:40px;">
                <img src="{% static 'single_pages/images/원숭이.png' %}" class="card-img-top" style="background-color:#F1D78D" alt="수달">
                <div class="card-body" style="background-color:#F1D78D; text-align:center">
                    <a onclick="javascript:start_monkey()" type="button" class="btn btn-lg btn-light">
                        원숭이랑 대화하기</a>
                </div>
            </div>

            <div class="card" style="width: 270px; display:inline-block;">
                <img src="{% static 'single_pages/images/너구리.png' %}" class="card-img-top" style="background-color:#B69380" alt="수달">
                <div class="card-body" style="background-color:#B69380; text-align:center">
                    <a onclick="javascript:start_racoon()" type="button" class="btn btn-lg btn-light">
                        너구리랑 대화하기</a>
                </div>
            </div>
        </div>

        <div class="footer">
            {% include 'single_pages/footer.html' %}
        </div>
    </section>

    <section id="main" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="chatback" id="cbox" style="position:relative;">
                        <div class="chatheader" id="cheader">
                            사자 와의 대화창
                        </div>

                        <div id="chatbox"> </div>

                        <div class="chatfooter" id="cfooter">
                            <input type="text" id="chattext" placeholder=" 채팅을 입력하세요" />
                            <a class="btn" style="background-color:#80756E" type="button" onclick="javascript:sendAsk()">전송</a>
                        </div>
                        <div id="loading" style="display:none;">
                            <div style="margin-top:250px;">일기 완성중 . . .</div>
                        </div>
                        <div id="save_end" style="display:none;">
                            <div style="margin-top:200px;">일기 작성완료!</div>
                            <a class="d_btn btn btn-light" type="button" href="/diary/create_post/" style="font-size:20px; padding: 5px 55px 5px 55px;">
                                일기 보러가기
                            </a><br/>
                            <a class="d_btn btn btn-light" type="button" href="/" style="font-size:20px; padding: 5px 85px 5px 85px;">
                                홈으로
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="btn_animal">
                        <a type="button" class="btn btn-lg" onclick="javascript:save()" style="background-color:#fed999">저장하고 제출</a><br/><br/>
                        <a type="button" class="btn btn-lg" onclick="javascript:start_lion()" style="background-color:#fed999">처음부터 채팅</a>
                    </div>
                    <br/><br/><br/><br/>
                    <img src="{% static 'single_pages/images/사자.png' %}" width="400px" height="400px" style="text-align:center"/>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
