{% extends 'single_pages/base.html' %}
{% load static %}

<!--한글은 따로 해야 한다.. 핳-->

{% block c_title %}
    <title>너구리와 대화</title>

    <!--css-->
    <link rel="stylesheet" href="{% static 'chatbot/css/main.css' %}" media="screen">
{% endblock %}

{% block tw_script %}
    <script>


    </script>
{% endblock %}

{% block main_area %}

    <section id="start">
        <div class="sec" style="width: 1000px; height: 400px; margin: auto; margin-top: 100px; white-space:nowrap;">
            <div class="card" style="width: 270px; display:inline-block; margin-right:40px;">
                <img src="{% static 'single_pages/images/수달.png' %}" class="card-img-top" style="background-color:#FFC5C4" alt="수달">
                <div class="card-body" style="background-color:#FFC5C4; text-align:center">
                    <a onclick="javascript:start_otter()" type="button" class="btn btn-lg btn-light">
                        수달이랑 대화하기</a>
                </div>
            </div>

            <div class="card" style="width: 270px; display:inline-block; margin-right:40px;">
                <img src="{% static 'single_pages/images/사자.png' %}" class="card-img-top" style="background-color:#F7B68E" alt="수달">
                <div class="card-body" style="background-color:#F7B68E; text-align:center">
                    <a onclick="javascript:start_lion()" type="button" class="btn btn-lg btn-light">
                        사자랑 대화하기</a>
                </div>
            </div>

            <div class="card" style="width: 270px; display:inline-block; margin-right:40px;">
                <img src="{% static 'single_pages/images/원숭이.png' %}" class="card-img-top" style="background-color:#F1D78D" alt="수달">
                <div class="card-body" style="background-color:#F1D78D; text-align:center">
                    <a onclick="javascript:start_monkey()" type="button" class="btn btn-lg btn-light">
                        원숭이랑 대화하기</a>
                </div>
            </div>

            <div class="card" style="width: 270px; display:inline-block;">
                <img src="{% static 'single_pages/images/너구리.png' %}" class="card-img-top" style="background-color:#B69380" alt="수달">
                <div class="card-body" style="background-color:#B69380; text-align:center">
                    <a onclick="javascript:start_racoon()" type="button" class="btn btn-lg btn-light">
                        너구리랑 대화하기</a>
                </div>
            </div>
        </div>

        <div class="footer">
            {% include 'single_pages/footer.html' %}
        </div>
    </section>

    <section id="main" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="chatback">
                        <div class="chatheader">
                            사자 와의 대화창
                        </div>

                        <div id="chatbox"> </div>

                        <div class="chatfooter">
                            <input type="text" id="chattext" placeholder=" 채팅을 입력하세요" />
                            <a class="btn" style="background-color:#80756E" type="button" onclick="javascript:sendAsk()">전송</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="btn_animal">
                        <a type="button" class="btn btn-lg" style="background-color:#fed999">저장하고 제출</a><br/><br/>
                        <a type="button" class="btn btn-lg" style="background-color:#fed999">처음부터 채팅</a>
                    </div>
                    <br/><br/><br/><br/>
                    <img src="{% static 'single_pages/images/사자.png' %}" width="400px" height="400px" style="text-align:center"/>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block tw_js %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        var xhr;

        function start_otter() {
            document.getElementById("main").style.display = "block";
            document.getElementById("start").style.display = "none";

            var strurl = "chattrain";
            alert(strurl);
            // return false;

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var data = xhr.responseText;

                    var obj = JSON.parse(data);
                    alert(obj.result);
                }
            };
            xhr.open("GET", strurl);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(null);
        }

        function start_lion() {
            document.getElementById("main").style.display = "block";
            document.getElementById("start").style.display = "none";

            var strurl = "chattrain";
            alert(strurl);
            // return false;

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var data = xhr.responseText;

                    var obj = JSON.parse(data);
                    alert(obj.result);
                }
            };
            xhr.open("GET", strurl);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(null);
        }

        function start_monkey() {
            document.getElementById("main").style.display = "block";
            document.getElementById("start").style.display = "none";

            var strurl = "chattrain";
            alert(strurl); // 다른 것으로 표현 바꾸기
            // return false;

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var data = xhr.responseText;

                    var obj = JSON.parse(data);
                    alert(obj.result);
                }
            };
            xhr.open("GET", strurl);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(null);
        }

        function start_racoon() {
            document.getElementById("main").style.display = "block";
            document.getElementById("start").style.display = "none";

            var strurl = "chattrain";
            alert(strurl); // 다른 것으로 표현 바꾸기
            // return false;

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var data = xhr.responseText;

                    var obj = JSON.parse(data);
                    alert(obj.result);
                }
            };
            xhr.open("GET", strurl);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(null);
        }

        function sendAsk() {
            let chattext = document.getElementById("chattext").value;

            if (chattext == "") {
                document.getElementById("chattext").focus();
                return false;
            }

            msg = "<div style='margin:15px 110px; text-align:right;'><span style='background-color:#ece6cf; padding: 5px 8px; border-radius: 3px'>" + chattext + "</span></div>";
            document.getElementById("chatbox").innerHTML += msg;

            var strurl = "chatanswer?chattext=" + chattext;
            // alert(strurl); //문구 다른 거로 변경
            // return false;

            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    var data = xhr.responseText;

                    var obj = JSON.parse(data);
                    //alert(obj.anstext);

                    reply = "<div style='margin:15px 0; text-align:left;'><span style='background-color:#fbca56; padding: 5px 8px; border-radius: 3px'>"+ obj.anstext +"</span></div>";
                    document.getElementById("chatbox").innerHTML += reply;

                    let cbox = document.getElementById("chatbox");
                    cbox.scrollTop = document.gtElementById("chatbox").scrollHeight;
                }
            };
            xhr.open("GET", strurl);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(null);

            document.getElementById("chattext").value = " ";
            document.getElementById("chattext").focus();
        }
    </script>
{% endblock %}
